.daily-container {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url(../../images/blanket.jpg) center center no-repeat;
  background-size: cover;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.daily-header {
  text-align: center;
  color: #e76f1c;
  font-family: 'Spicy Rice', cursive;
  margin-top: 10px;
  font-size: 5em;
}

.jar-logo {
  z-index: 10;
  height: 120px;
  margin: 5px;
}

.play-game-btn {
  border: black 1px solid;
  font-family: inherit;
  font-size: 0.8em;
  color: #b63e8f;
  background: #f6e297;
  cursor: pointer;
  padding: 15px 7px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 129px;
  height: 75px;
  margin-top: 25px;
  border-radius: 10% 6% 5% 4% / 9% 6% 7% 2%;
}

@media screen and (max-width: 950px) {
  .daily-header {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 725px) {
  .header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .daily-header {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .jar-logo {
    visibility: hidden;
  }

  .play-game-btn {
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .daily-header {
    font-size: 2.5em;
  }
}

