html, body {
  width: 100%;
  height: 100%;
}

.landing-page {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url(../../images/blanket.jpg) center center no-repeat;
  background-size: cover;
}

.title {
  color: #e76f1c;
  font-family: 'Spicy Rice', cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 75px;
  z-index: 10;
}

.trivia-text {
  font-size: 4em;
}

.nickel-logo {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
  top: 50px;
  width: 300px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 60px;
}

.btn {
  border: black thin solid;
  font-family: 'Chelsea Market', cursive;
  font-size: 2em;
  color: #651a23;
  background: #f6e297;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 500px;
}

.btn:hover {
  color: #0e83cd;
  background: #fff;
}

@media screen and (max-width: 1000px) {
  .btn-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
  }

  .title {
    color: #e76f1c;
    font-family: 'Spicy Rice', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 75px;
    z-index: 10;
  }


  .trivia-text {
    font-size: 3em;
  }
  .btn {
    width: 85%;
  }
}

@media screen and (max-width: 700px) {
/*  .btn-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
  }

  .title {
    color: #e76f1c;
    font-family: 'Spicy Rice', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 75px;
    z-index: 10;
  }*/

  .trivia-text {
    font-size: 2em;
  }

}