.categories {
  display: flex;
  flex-direction: column;
}

.category {
  border: black 2px solid;
  font-family: 'Chelsea Market', cursive;
  font-size: 1.6em;
  color: #651a23;
  background: #f6e297;
  cursor: pointer;
  padding: 5px 30px;
  display: inline-block;
  margin: 3px 0px 0px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 98px;
  border-radius: 26% 6% 5% 4% / 9% 6% 7% 2%;
}

.category:hover {
  color: #ba2343;
  background: #fff;
}